<div class="row" style="font-size: 3em; text-align: center;">
	<b>Map Demo</b>
</div>

<div class="row" style="padding-bottom:2em;">
	<div class="columns small-12 large-8">
		<div id="map-container">
			<div id="map-canvas"></div>
		</div>
	</div>
	<div class="columns small-12 large-4">
	<div class="scroll-box">
		<div class="list-preview" style="padding-top:1.5em;">
			<h3 id="event-a-head">Event A
				<span class="align-right">
					<b><i class="fa fa-angle-down"></i></b>
				</span>
			</h3>
			<div class="event-list-preview">
				<b>Food Shift</b> 
				<span class="event-list-time">4:30PM - 8PM</span> <br>
					620 3rd St.<br>
					Oakland, CA 94607
					<!-- lat: 37.798866, lng: -122.280327 -->
			</div>
			<ul id="event-a" class="event-list">
			<h4>Recipient Requests</h4> 
				<li>
					<!-- <button class="event-list-accept" onclick="accept(this, 'event-a-head')">Accept</button> -->
					<b>United States Postal Service</b> <br>
					1675 7th St <br>
					Oakland, CA 94615
					<!-- lat: 37.806677, lng: -122.300380 -->
				</li>
				<li>
					<!-- <button class="event-list-accept" onclick="accept(this, 'event-a-head')">Accept</button> -->
					<b>Catholic Youth Organization</b> <br>
					3014 Lakeshore Ave <br>
					Oakland, CA 94610
					<!-- lat: 37.808970, lng: -122.249409 -->
				</li>
			</ul>
		</div>
		<div class="list-preview">
			<h3 id="event-b-head">Event B
				<span class="align-right">
					<b><i class="fa fa-angle-down"></i></b>
				</span>
			</h3>
			<div class="event-list-preview">
				<b>DonorLand</b> 
				<span class="event-list-time">4:30PM - 8PM</span> <br>
					620 3rd St.<br>
					Oakland, CA 94607
					<!-- lat: 37.798866, lng: -122.280327 -->
			</div>
			<ul id="event-b" class="event-list">
			<h4>Recipient Requests</h4> 
				<li>
					<!-- <button class="event-list-accept" onclick="accept(this, 'event-a-head')">Accept</button> -->
					<b>United States Postal Service</b> <br>
					1675 7th St <br>
					Oakland, CA 94615
					<!-- lat: 37.806677, lng: -122.300380 -->
				</li>
				<li>
					<!-- <button class="event-list-accept" onclick="accept(this, 'event-a-head')">Accept</button> -->
					<b>Catholic Youth Organization</b> <br>
					3014 Lakeshore Ave <br>
					Oakland, CA 94610
					<!-- lat: 37.808970, lng: -122.249409 -->
				</li>
			</ul>
		</div>
		</div>
	</div>
</div>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRB0dyvlNWDLNLyrn4waQRI2aAgpkfeWE">
    </script>
<%= javascript_include_tag "application/dashboard" %>