<div id="about-image-block">
    <div class="about-image"></div>
    <div class="about-image-overlay"></div>
    <div class="about-content">
        <div class="row">
            <div class="small-8 small-centered columns">
                <h1 class="title">About Us</h1>
            </div>
        </div>
    </div>
</div>

<div class="about-mission-block">
    <div class="row">
        <div class="small-10 small-centered columns">
            <h3 class="dark-green">
                Food Shift works collaboratively with communities, businesses and governments to develop long-term sustainable solutions to reduce food waste and build more resilient communities.
            </h3>
            <p class="about">
                This disturbing reality is destructive to the environment and to the health of our communities. Each time food goes uneaten, all the resources that went into producing, processing, packaging, and transporting that food are wasted too. This means huge amounts of land, water, energy, money, and other materials are depleted unnecessarily. Wasting all this food is costly to individuals, businesses, municipalities and the environment. Given the resources demanded for food production, the increasing realities of climate change, and the fact that 1 in 6 Americans are hungry, it is critical that we shift our behaviors towards a more sustainable and efficient use of food.
            </p>
            <p class="about">
                At Food Shift, we know that food isn’t waste— it’s valuable nutrition that uses precious environmental resources and should be used to feed people in our communities. Through our events, online resources, and collaborative programs we provide guidance and promote opportunities for individuals, organizations, and businesses to use food waste reduction as a strategy that saves money, benefits the community, and alleviates strain on the environment. By trimming waste and diverting food loss we can alleviate hunger, create jobs, combat climate change, conserve natural resources, and cultivate more sustainable communities.
            </p>
            <p class="about">
                Food Shift developed this website to streamline the process of connecting surplus food with individuals in need in our community &mdash; even at home in Alameda County, over 15% of residents are food insecure.
            </p>
        </div>
    </div>
</div>
