<div id="contact-image-block">
  <div class="contact-image"></div>
  <div class="contact-image-overlay"></div>
  <div class="contact-content">
    <div class="row">
      <div class="small-8 small-centered columns">
        <h1 class="title">Contact Foodshift</h1>
      </div>
    </div>
  </div>
</div>

<div class="contact-content-block">
  <div class="row contact-block">
    <div class="small-12 medium-4 medium-offset-3 columns">
      <h2 class="contact-title">Say Hello</h2>
    </div>
    <div class="small-12 medium-4 end columns">
      <a href="mailto:info@foodshift.net" class="contact-link">info@foodshift.net</a>
    </div>
  </div>

  <div class="row contact-block">
    <div class="small-12 medium-4 medium-offset-3 columns">
      <h2 class="contact-title">Elsewhere</h2>
    </div>
    <div class="small-12 medium-4 end columns">
      <a href="https://www.facebook.com/foodshift" class="contact-link">
        <i class="fa fa-2x fa-facebook-square"></i>
      </a>
      <a href="https://twitter.com/FoodShift" class="contact-link">
        <i class="fa fa-2x fa-twitter-square"></i>
      </a>
    </div>
  </div>

  <div class="row contact-block last">
    <div class="small-12 medium-4 medium-offset-3 columns">
      <h2 class="contact-title">Visit</h2>
    </div>
    <div class="small-12 medium-4 end columns">
      <a href="https://www.google.com/maps/place/620+3rd+St,+Oakland,+CA+94607/@37.798018,-122.2757567,16z/data=!4m2!3m1!1s0x808f80b906c7b60b:0x13f30e5257a1a785" class="contact-link">
        620 3rd St.</br>
        Oakland, CA 94607
      </a>
    </div>
  </div>
</div>
