<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

  <style>

@font-face {
    font-family: Sig-B;
    src: url("../../assets/Sig-B.eot");
}
@font-face {
    font-family: Sig-B;
    src: url("../../assets/Sig-B.ttf"); 
}

@font-face {
    font-family: Sig-R;
    src: url("../../assets/Sig-R.eot");
}
@font-face {
    font-family: Sig-R;
    src: url("../../assets/Sig-R.ttf");
}

  * {
  	font-family: Sig-R;
  	padding: 10px;
  }
  
  body {
  	color: #555;
  } 

  h1 {
  	font-family: Sig-B;
  	font-weight: normal;
  	background: green;
  	color: #fff;
  	padding: 10px;
  	margin: 0px;
  }

  .logo {
  	display: block;
  	text-align: center;
  }

  .content {
  	background: #eee;
  	padding: 15px 10px;
  }

  </style>

  </head>
  <body>
  	<span class="logo">

    <img src="http://foodshift.net/wp-content/uploads/2013/01/cropped-cropped-Food-Shift_Main-Menu_Logo-01.png">
    </span>

    <h1>A new donation is available!</h1>
    <div class="content">
    Hello, <br> <br>
    You're receiving this because you've subscribed to be notified of all new donations posted. 
    </div>
  </body>
</html>