<div class="row">
    <div class="small-2 columns">
        <h1>Hallo</h1>
    </div>
    <div class="small-10 columns">
        <div id="example"></div>
    </div>
</div>

<%= javascript_include_tag "react_components/landing" %>
