<div id="donor-form-image-block">
    <div class="donor-form-image"></div>
    <div class="donor-form-image-overlay"></div>
    <div class="donor-form-content">
        <div class="row">
            <div class="small-8 small-centered columns">
                <h1 class="text-center">Donate</h1>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra elit ut quam lobortis, eget ultrices magna consequat. Mauris accumsan velit diam, nec ullamcorper nulla vehicula consectetur. Cras a mauris id magna elementum gravida.
                </p>
                <div class="text-center">
                     <a id="scroll-arrow"><i class="fa fa-chevron-circle-down fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="donor-form-food-block">
    <div id="donor-form">
    </div>
</div>
<div id="donor-form-pickup-block">
    <div class="row">
        <div class="small-12 medium-8 medium-centered columns">
            <h3 class="text-center block-title">Pickup Information</h3>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Address</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" placeholder="" id="donor-address" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Date</span>
                </div>
                <div class="small-9 columns">
                    <input type="date" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-2 columns">
                    <span class="prefix">From</span>
                </div>
                <div class="small-4 columns">
                    <input type="time" />
                </div>
                <div class="small-2 columns">
                    <span class="prefix">To</span>
                </div>
                <div class="small-4 columns">
                    <input type="time" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="donor-form-detail-block">
    <div class="row">
        <div class="small-12  medium-8 medium-centered columns">
            <h3 class="text-center block-title">About You</h3>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Name</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Organization</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Email</span>
                </div>
                <div class="small-9 columns">
                    <input type="email" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Phone</span>
                </div>
                <div class="small-9 columns">
                    <input type="tel" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="donor-form-submit-block">
    <div class="row">
        <div class="small-12 columns">
            <h3 class="text-center block-title">Anything else we should know about your donation?</h3>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-8 medium-centered columns">
            <textarea rows=5 ></textarea>
        </div>
    </div>
    <div class="row form-padding">
        <div class="small-12 columns">
            <div class="text-center">
                <a id="submit" class="success-button">Donate!</a>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "react_components/forms" %>
<%= javascript_include_tag "react_components/buttons" %>
<%= javascript_include_tag "react_components/donor_form" %>
<%= javascript_include_tag "application/donor_form" %>
