<div id="recipient-form-image-block">
    <div class="recipient-form-image"></div>
    <div class="recipient-form-image-overlay"></div>
    <div class="recipient-form-content">
        <div class="row">
            <div class="small-8 small-centered columns">
                <h1 class="text-center">Receive</h1>
                <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra elit ut quam lobortis, eget ultrices magna consequat. Mauris accumsan velit diam, nec ullamcorper nulla vehicula consectetur. Cras a mauris id magna elementum gravida.
                </p>
                <div class="text-center">
                     <a id="scroll-arrow"><i class="fa fa-chevron-circle-down fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recipient-form-info-block">
    <div class="row">
        <div class="small-12 medium-8 medium-centered columns">
            <h3 class="text-center block-title">About You</h3>
            <div class="row collapse">
                <div class="small-3 medium-2 columns">
                    <span class="prefix">First name</span>
                </div>
                <div class="small-9 medium-4 columns">
                    <input type="text" />
                </div>
                <div class="small-3 medium-2 columns">
                    <span class="prefix">Last name</span>
                </div>
                <div class="small-9 medium-4 columns">
                    <input type="text" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Email</span>
                </div>
                <div class="small-9 columns">
                    <input type="email" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Phone</span>
                </div>
                <div class="small-9 columns">
                    <input type="tel" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recipient-form-org-block">
    <div class="row">
        <div class="small-12 medium-8 medium-centered columns">
            <h3 class="text-center block-title">About Your Organization</h3>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Name</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Address</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" placeholder="" id="recipient-address" />
                </div>
            </div>
            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">501(c)(3) Number</span>
                </div>
                <div class="small-9 columns">
                    <input type="text" />
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-6 columns">
                    <input id="checkbox-kitchen" type="checkbox"/><label for="checkbox-kitchen">Do you have a kitchen?</label>
                </div>
                <div class="small-12 medium-6 columns">
                    <input id="checkbox-refrigeration" type="checkbox"/><label for="checkbox-refrigeration">Do you have refrigeration?</label>
                </div>
            </div>
            <div class="row form-padding-top">
                <div class="small-12 columns">
                    <div class="text-center">
                        <a id="submit" class="success-button">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "application/recipient_form" %>
