<div class="row">
  <div class="small-9 columns">
    <h4><%= donation.description %></h4>

  </div>
  <div class="small-3 columns">
    <div class="donation-modify">
      <span class="donation-status">in progress</span> <br>
        <%= link_to "Cancel Donation", donations_cancel_path(donation), class: "donation-modify-link donation-cancel" %>
    </div>
  </div>
</div>
