<div class="forgot-password-block">
    <div class="row">
        <div class="small-12 medium-6 medium-centered columns">

            <h1>Forgot your password?</h1>

            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/errors" %>

            <div class="row collapse">
                <div class="small-3 columns">
                    <span class="prefix">Email</span>
                </div>
                <div class="small-9 columns">
                    <%= f.email_field :email, autofocus: true %>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input class="pw-reset-button" name="commit" type="submit" value="Send me reset password instructions">
                    <%= render "devise/shared/links" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
