<div class="contact-content-block">
  <div class="row contact-block">
    <div class="small-12 medium-4 medium-offset-3 columns">
      <h2 class="contact-title"><%= @result %></h2>
    </div>
  </div>
</div>
