<div class="coordinator-dashboard-header-block">
    <div class="row">
        <div class="small-12 columns">
            <h1>Coordinator Dashboard</h1>
        </div>
    </div>
</div>
<div class="coordinator-dashboard-content-block">
    <div id="dashboard-content"></div>
    <!--
    <div class="row">
        <div class="medium-6 columns">
            <h2>Donors</h2>
        </div>

        <div class="medium-6 columns">
            <h2>Recipients</h2>
        </div>
    </div>
    -->
</div>

<%= javascript_include_tag "application/coordinator" %>
<%= javascript_include_tag "react_components/coordinator_dashboard" %>
