<div class="coordinator-dashboard-nav-block">
    <div class="row">
        <div class="small-12 columns">
            <ul class="subnav-list">
                <li class="active"><a href="#">Pending Donations</a></li>
                <li><a href="#">View Data</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="coordinator-dashboard-content-block">
    <div id="dashboard-content"></div>
</div>

<%= javascript_include_tag "application/coordinator" %>
<%= javascript_include_tag "react_components/modals" %>
<%= javascript_include_tag "react_components/coordinator_dashboard" %>
