@mixin transition-all($time) {
  transition: all $time ease;
}

a.button {
  &:hover {
    color: $medium-green;
  }
}

a.transparent-button {
  @extend .button, .large;
  @include transition-all(250ms);
  background-color: transparent;
  border: 2px solid $white;
  border-radius: $global-radius;
  color: $white;
  font-weight: 500;

  &:hover {
    background-color: $white;
    color: $charcoal;
  }
}

a.transparent-success-button {
  @extend .button;
  background-color: transparent;
  border: 1px solid $charcoal;
  border-radius: $global-radius;
  color: $charcoal;

  &:hover {
    border: 1px solid $medium-green;
    color: $medium-green;
  }
}

a.success-button,
input.success-button {
  @extend .button;
  background-color: $medium-green;
  border: 1px solid $white;
  border-radius: $global-radius;
  color: $white;

  &:hover {
    background-color: scale-color($medium-green, $lightness: 10%);
    color: $white;
  }
}

.material-success-button {
  @extend .button;
  @include transition-all(0.5s);
  @include drop-shadow(1);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $global-radius;
  text-transform: uppercase;

  &:hover {
    @include drop-shadow(2);
    background-color: transparent;
    border: 1px solid transparent;
  }
}
