.nav-contain-to-grid {
    @extend .contain-to-grid;
    background-color: $white;
    border-bottom: 1px solid $dark-grey;
    z-index: 10;
    .title-area {
        background-color: $medium-green;
        .name h1 a {
            color: $white;
        }
    }
}

nav.top-bar {
    background-color: $white;
    z-index: 10;
    section.top-bar-section a {
        font-weight: 400;
        text-transform: uppercase;
    }
}
