// Place all the styles related to the Coordinator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin map-fix() {
    img {
        max-width: none;
    }
    label {
        width: auto;
        display: inline;
    }
}

.coordinator-dashboard-nav-block {
    @include full-width-block($charcoal);
    border-bottom: 1px solid $dark-grey;
    .subnav-list {
        @extend .inline-list;
        margin: 0;
        height: 100%;
        li {
            margin-left: 0px;
            margin-right: 50px;
            padding-top: 8px;
            padding-bottom: 4px;
            font-size: rem-calc(14);
            font-weight: 300;
            a {
                color: $dark-grey;
            }
            &.active, &:hover {
                a {
                    color: $white;
                }
            }
            @media #{$medium-up} {
                &.active {
                    border-bottom: 4px solid $white;
                }
            }
        }
    }
}

.coordinator-dashboard-schedule-block {
    @include full-width-block($off-white);
    @include block-padding();
    min-height: 900px;

    .slide-right-enter {
        position: absolute;
        width: 100%;
        left: -300%;

        transition: left 0.5s ease;
        transition-delay: 0.1s;
        @media #{$small-only} {
            transition-delay: 0.25s;
        }

        &.slide-right-enter-active {
            left: 0;
        }
    }

    .slide-right-leave {
        position: absolute;
        width: 100%;
        right: 0;

        transition: right 0.5s ease-in;

        &.slide-right-leave-active {
            right: -300%;
        }
    }

    .slide-left-enter {
        position: absolute;
        width: 100%;
        right: -300%;

        transition: right 0.5s ease;
        transition-delay: 0.1s;

        @media #{$small-only} {
            transition-delay: 0.25s;
        }

        &.slide-left-enter-active {
            right: 0;
        }
    }

    .slide-left-leave {
        position: absolute;
        width: 100%;
        left: 0;

        transition: left 0.5s ease-in;

        &.slide-left-leave-active {
            left: -300%;
        }
    }

    .dashboard-wrap {
        position: relative;
        height: 100%;
        .dashboard-empty {
            @extend .text-center;
            i.fa {
                color: rgb(240, 180, 60);
                &.fa-smile-o {
                    font-size: 39px;
                }
            }
        }
        .dashboard {
            border: 1px solid $dark-grey;
            @include drop-shadow(1);
            .card-header {
                @extend .text-center;
                border-bottom: 1px solid $dark-grey;
                background-color: $medium-green;
                .card-header-title {
                    display: inline-block;
                    font-size: rem-calc(18);
                    font-weight: 400;
                    color: $white;
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
                @mixin card-header-arrow() {
                    display: inline-block;
                    i.fa {
                        padding-top: 12px;
                    }
                    a {
                        color: $dark-grey;
                        &:hover {
                            color: $white;
                        }
                    }
                }
                .card-header-arrow-left {
                    @include card-header-arrow();
                    margin-right: 30px;
                }
                .card-header-arrow-right {
                    @include card-header-arrow();
                    margin-left: 30px;
                }
            }
            .card-donation {
                padding-top: 30px;
                background-color: $white;
                border-bottom: 1px solid $dark-grey;
                color: $charcoal;
                .donation-info {
                    @extend .text-center;

                    h1.donation-info-title {
                        color: $charcoal;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: rem-calc(24);
                    }
                    img.coordinator-donation-picture {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        max-height: rem-calc(240px);
                    }
                    .coordinator-donation-info {
                        text-align: center;
                    }
                    i.fa-li {
                        padding-top: 2px;
                    }
                    ul.inline-list-food {
                        @extend .inline-list;
                        padding-top: 0px;
                    }
                    .additional-info-list {
                        margin-top: -20px;
                    }
                }
            }
            .donation-recipients {
                background-color: $medium-grey;
                .no-right-pad {
                    @media #{$medium-up} {
                        padding-right: 0;
                    }
                }
                .no-left-pad {
                    @media #{$medium-up} {
                        padding-left: 0;
                    }
                }
                .recipients-list-title {
                    @extend .text-center;
                    color: $white;
                    font-weight: 400;
                    font-size: rem-calc(18);
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid $dark-grey;
                    background-color: $medium-green;

                }
                .recipients-list {
                    .recipient {
                        border-bottom: 1px solid $dark-grey;

                        .recipient-title {
                            color: $charcoal;
                            font-weight: 400;
                            font-size: rem-calc(16);
                            padding-left: 30px;
                            padding-right: 30px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            background-color: $light-grey;
                            &:hover, &.active {
                                background-color: scale-color($white, $lightness: 14%);
                                cursor: pointer;
                            }
                            a.expand-icon {
                                color: $medium-green;
                                i {
                                    -webkit-transition: -webkit-transform 0.5s ease;
                                    -moz-transition: -moz-transform 0.5s ease;
                                    -o-transition: o-transform 0.5s ease;
                                    transition:  transform 0.5s ease;
                                    &.active {
                                        -webkit-transform: rotateX(180deg);
                                           -moz-transform: rotateX(180deg);
                                            -ms-transform: rotateX(180deg);
                                             -o-transform: rotateX(180deg);
                                                transform: rotateX(180deg);
                                    }
                                }
                            }
                        }
                        .recipient-open {
                            background-color: $white;
                            color: $charcoal;

                            p.organization {
                                color: $charcoal;
                                font-size: rem-calc(16);
                                font-weight: 300;
                                margin-bottom: 5px;
                            }
                            .recipient-details {
                                padding-left: 20px;
                            }
                            .recipient-confirm {
                                @extend .text-center;
                                a.match-button {
                                    @media #{$medium-up} {
                                        margin-top: 30px;
                                    }
                                    @extend .small;
                                    @extend .material-success-button;
                                    color: $medium-green;
                                    margin-bottom: 30px;
                                    font-size: rem-calc(14);
                                }
                            }
                            i.fa-li {
                                padding-top: 2px;
                            }
                            .confirm-modal {
                                .donation-row {
                                    @extend .row;
                                }
                                .delivery-row {
                                    @extend .row;
                                    .delivery-arrow {
                                        color: $medium-green;
                                        @media #{$small-only} {
                                        }
                                    }
                                }
                                .recipient-row {
                                    @extend .row;
                                    margin-top: 20px;
                                }
                                .button-row {
                                    @extend .row;
                                    @extend .text-center;
                                    a.confirm-button {
                                        @extend .material-success-button;
                                        margin-top: 5px;
                                        color: $white;
                                        background-color: $medium-green;
                                        &:hover {
                                            color: $white;
                                            background-color: scale-color($medium-green, $lightness: 14%);
                                        }
                                    }
                                }
                            }

                        }
                        .recipient-slide-enter {
                            overflow: hidden;
                            max-height: 0;
                            transition: max-height .5s ease;
                        }
                        .recipient-slide-enter.recipient-slide-enter-active {
                            max-height: 1000px;
                        }
                        .recipient-slide-leave {
                            overflow: hidden;
                            max-height: 1000px;
                            transition: max-height .25s ease;
                        }
                        .recipient-slide-leave.recipient-slide-leave-active {
                            max-height: 0;
                        }
                    }
                }
                #map-canvas {
                    @include map-fix;
                    width: 100%;
                    height: 100%;
                    min-height: 550px;
                    margin: 0;
                    padding: 1;
                    @media #{$medium-up} {
                        border-left: 1px solid $dark-grey;
                    }
                }
            }
        }
    }
}

.coordinator-dashboard-deliver-block {
    @include full-width-block($off-white);
    @include block-padding();
    min-height: 600px;
    .dashboard-wrap {
        border: 1px solid $dark-grey;
        @include drop-shadow(1);
        background-color: $medium-grey;

        .delivery-header {
            @extend .text-center;
            border-bottom: 1px solid $dark-grey;
            background-color: $medium-green;
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: rem-calc(18);
            font-weight: 400;
            color: $white;
        }
        .delivery-map {
            min-height: 400px;
            #map-canvas {
                @include map-fix;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 1;
                min-height: 400px;
            }
        }
        .delivery-list {
            .delivery-entry {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: $light-grey;
                border-top: 1px solid $dark-grey;
                @include transition-all(0.5s);

                &:hover, &.active {
                    background-color: $white;
                    cursor: pointer;
                    position: relative;
                    z-index: 5;
                }

                &.active {
                    z-index: 10;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }

                .delivery-addresses {
                    margin-left: 10px;
                    .donation-address, .recipient-address {
                        color: $charcoal;
                        font-size: rem-calc(16);
                        margin-left: 10px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                    .donation-address, .recipient-address {
                        font-weight: 400;
                        .address-prefix {
                            margin-right: 5px;
                            color: scale-color($charcoal, $lightness: 25%);
                            text-transform: uppercase;
                            font-size: rem-calc(14);
                            font-weight: 300;
                        }
                    }

                    .delivery-info {
                        p.delivery-time {
                            display: inline-block;
                            margin: 0;
                            margin-right: 10px;
                            font-weight: 400;
                        }
                        a.delivery-link {
                            display:inline-block;
                        }
                        margin-top: 10px;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        @media #{$small-only} {
                            margin-bottom: 0px;
                        }
                    }
                }

                .action-button-list {
                    @extend .text-center;
                    width: 100%;
                    padding-top: 10px;
                    .action-container {
                        @extend .text-center;
                        display: inline-block;
                        width: 150px;
                        .success-item, .action-button, .disabled-button {
                            display: inline-block;
                            color: $medium-green;
                            font-weight: 300;
                            font-size: rem-calc(16);
                            text-transform: uppercase;

                            margin-top: 10px;
                            margin-bottom: 10px;
                        }

                        .success-item, .disabled-button {
                            padding-top: 0.625rem;
                            padding-right: 1.25rem;
                            padding-bottom: 0.6875rem;
                            padding-left: 1.25rem;
                            border: 1px solid transparent;
                            i {
                                margin-left: 5px;
                            }
                        }

                        .disabled-button {
                            border-radius: $global-radius;
                            background-color: $dark-grey;
                            color: $charcoal;
                            opacity: 0.7;
                        }

                        .action-button {
                            @extend .material-success-button;
                            @extend .tiny;
                        }
                    }
                }
            }
        }
    }
}
