.profile-label {
  color: $dark-green;
  font-weight: 400;
}

.profile-summary {
  background: $donor-profile-donation-summary;
  float: right;
  min-height: 240px;
  padding: 12px;
  width: 25%;

  h2 {
    color: $medium-green;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
    margin-top: 10px;
    text-align: center;
  }
}

.profile-summary-content {
  background: $donor-profile-medium-grey;
  border-radius: 2px;
  float: right;
  margin-top: -4px;
  padding: 4px 8px;
}

.profile-summary-donate-link {
  background: $white;
  border: 1px solid $donor-profile-border-grey;
  border-radius: 4px;
  color: $medium-green;
  margin: 0 auto;
  padding: 5px 10px;
}

.update-profile-link {
  background: $donor-profile-light-grey;
  color: $donor-profile-darker-grey;
  padding: 8px;
  text-decoration: none;
  width: 100px;
}

.donor-dashboard-block {
  @include full-width-block($off-white);
  @include block-padding();
  min-height: 900px;

  .dashboard {
    border: 1px solid $dark-grey;
    @include drop-shadow(1);

    .card-header {
      @extend .text-center;
      border-bottom: 1px solid $dark-grey;
      background-color: $medium-green;
      .card-header-title {
        display: inline-block;
        font-size: rem-calc(18);
        font-weight: 400;
        color: $white;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      @mixin card-header-arrow() {
        display: inline-block;
        i.fa {
          padding-top: 12px;
        }
        a {
          color: $dark-grey;
          &:hover {
            color: $white;
          }
        }
      }
      .card-header-arrow-left {
        @include card-header-arrow();
        margin-right: 30px;
      }
      .card-header-arrow-right {
        @include card-header-arrow();
        margin-left: 30px;
      }
    }
    .card-donation {
      padding-top: 30px;
      background-color: $white;
      border-bottom: 1px solid $dark-grey;
      color: $charcoal;
      .donation-info {
        .profile-img-wrap {
          margin: 0;
          list-style-type: none;
          .profile-img-item {
            text-align: center;
            .profile-img {
              max-height: rem-calc(250px);
              padding: rem-calc(15px);
            }
          }
        }

        h1.profile-info-title {
          @extend .text-center;
          color: $charcoal;
          padding-bottom: rem-calc(15px);
          font-size: rem-calc(24);
        }
        h2.donation-info-datetime {
          font-size: rem-calc(18);
        }
        i.fa-li {
          padding-top: 2px;
        }
        ul.inline-list-food {
          @extend .inline-list;
          padding-top: 0px;
        }
        .additional-info-list {
          margin-top: -20px;
        }
      }
    }
  }

}

.donation-cancel {
  color: $red;
}

.donation-item {
  background: $donor-profile-light-grey;
  margin: 10px 0;
  padding: 10px;
  width: 100%;

  h1 {
    background: none;
    color: $medium-green;
    font-size: 15px;
    margin: 0 0 10px;
    padding: 0;
    text-align: left;
  }
}

.donation-item-completed {
  border-left: 10px solid $donation-completed-key;
}

.donation-item-inprogress {
  border-left: 10px solid $donation-inprogress-key;
}

.donation-item-pending {
  border-left: 10px solid $donation-pending-key;
}

.donation-key {
  border-radius: 5px;
  float: left;
  padding: 5px 10px;
  text-align: center;
}

.donation-key-container {
  height: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.donation-key-completed {
  background: $donation-completed-key;
  color: $white;
}

.donation-key-description {
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  padding: 5px 10px;
}

.donation-key-inprogress {
  background: $donation-inprogress-key;
}

.donation-key-pending {
  background: $donation-pending-key;
}

.donation-modify {
  float: right;
  text-align: right;
  width: 200px;
}

.donation-profile-filler {
  height: 30px;
  width: 100%;
}

.donation-status {
  float: right;
  font-weight: 400;
  text-align: right;
}

.donation-title {
  float: left;
  width: 70%;
}

.donation-modify-link {
  float: right;
}
