.donation-profile-filler {
  height: 30px;
  width: 100%;
}

.profile-container, .donation-container {
  font-size: 12px;
  background: $white;
  width: 68%;
  margin: 0 auto;
  padding: 15px;
}

.profile-container b, .donation-container b {
  font-weight: 600;
}

.profile-container {
  min-height: 350px;
}

.donation-container {
  min-height: 0px;
}

.profile-container h1, .donation-container h1 {
  background: $medium-green;
  display: block;
  padding: 10px;
  color: $white;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.profile-img {
  height: 250px;
  padding: 8px;
  border: 1px solid #ccc;
  float: left;
  margin-right: 12px;
}

.profile-label {
  font-weight: 400;
  color: $dark-green;
}

.profile-information {
  float: left;
  width: 70%;
}

.update-profile-link {
  background: $donor-profile-light-grey;
  color: $donor-profile-darker-grey;
  width: 100px;
  padding: 8px;
  text-decoration: none;
}

.profile-summary {
  min-height: 240px;
  padding: 12px;
  width: 25%;
  float: right;
  background: $donor-profile-donation-summary;
}

.profile-summary h2 {
  color: $medium-green;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
  margin-top: 10px;
}

.profile-summary-content {
  margin-top: -4px;
  border-radius: 2px;
  float: right;
  background: $donor-profile-medium-grey;
  padding: 4px 8px;
}

.donation-item {
  background: $donor-profile-light-grey;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
}

.donation-item-inprogress {
  border-left: 10px solid $donation-inprogress-key;
}

.donation-item-pending {
  border-left: 10px solid $donation-pending-key;
}

.donation-item-completed {
  border-left: 10px solid $donation-completed-key;
}

.donation-title {
  float: left;
  width: 70%;
}

.donation-modify {
  float: right;
  width: 200px; 
  text-align: right;
}

.donation-status {
  text-align: right;
  float: right;
  font-weight: 400;
}

.donation-donation-profile-filler {
  height: 10px;
  width: 100%;
}

.donation-modify-link {
  float: right;
}

.donation-cancel {
  color: $red;
}

.donation-item h1 {
  font-size: 15px;
  text-align: left;
  background: none;
  color: $medium-green;
  padding: 0px;
  margin: 0px 0px 10px 0px;
}

.donation-key-container {
  width: 100%;
  margin-bottom: 20px;
  height: 30px;
}

.donation-key {
  float: left;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.donation-key-description {
  margin-right: 20px;
  float: left;
  padding: 5px 10px;
  border-radius: 5px;
}

.donation-key-pending {
  background: $donation-pending-key;
}

.donation-key-inprogress {
  background: $donation-inprogress-key;
}

.donation-key-completed {
  background: $donation-completed-key;
  color: $white;
}