// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$splash-image-height: 600px;

.splash-block {
    @include full-width-block($off-white);
    background-color: transparent;
}

.splash-images {
    z-index: -20;
    margin-top: $topbar-height + 1;
    position: absolute;
    width: 100%;
    top: 0;
    .splash-image {
        background-size: cover;
        height: $splash-image-height;
    }
}

.splash-overlay {
    z-index: -10;
    margin-top: $topbar-height + 1;
    position: absolute;
    width: 100%;
    height: $splash-image-height;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);

}

.splash-title {
    height: $splash-image-height;
    background-color: transparent;
    h1 {
        padding-top: 17%;
        color: white;
        font-weight: 800;
        font-size: 5.0em;
    }
    h2 {
        color: white;
        font-weight: 600;
        font-size: 1.5em;
    }
    .button-row {
        padding-top: 50px;
    }
}
