$recipient-image-height: 500px;

#recipient-form-image-block {
    .recipient-form-image {
        z-index: -20;
        background-size: cover;
        background-image: url("s3-us-west-2.amazonaws.com/foodshift/assets/images/landing_splash_berries.jpg");
        height: $recipient-image-height;
        width: 100%;
        top: 0;
        position: absolute;
        margin-top: $topbar-height + 1;
    }
    .recipient-form-image-overlay {
        z-index: -10;
        height: $recipient-image-height;
        width: 100%;
        top: 0;
        position: absolute;
        margin-top: $topbar-height + 1;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .recipient-form-content {
        height: $recipient-image-height;
        background-color: transparent;
        padding-top: 10%;
    }
    h1, p {
        color: $white;
    }
    #scroll-arrow {
        color: $medium-grey;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;
        &:hover {
            color: $white;
        }
    }
}

#recipient-form-account-block {
    @include full-width-block($light-grey);
    border-bottom: 2px solid $dark-grey;
    @include form-block-padding();
}

#recipient-form-info-block {
    @include full-width-block($off-white);
    border-bottom: 2px solid $dark-grey;
    @include form-block-padding();
}

#recipient-form-org-block {
    @include full-width-block($light-grey);
    @include form-block-padding();
}

.signup-block {
    padding-top: 50px;
}
