<div class="footer footer-contain-to-grid">
    <div class="row">
      <div class="small-6 columns">
        <a class="title" href="http://foodshift.net/"><img id="fs-logo" src="<%= asset_path 'logo.png' %>"></img></a>

      </div>
      <div class="small-6 columns">
          <div class="right" id="bp-wrapper">
              <a href="http://www.calblueprint.org">
                <span class="powered-by">Powered by</span>
                <img class="spinner" id="bp-logo" src="<%= asset_path 'bp_logo_small.png' %>"></img>
              </a>
          </div>
      </div>
    </div>
</div>
