<div class="nav-contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to("Food Shift", root_url) %></h1>
        </li>
        <li class="divider"></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li class=""><a href="#">About</a></li>
          <li class="divider"></li>
          <li class=""><a href="#">Help</a></li>
          <li class="divider"></li>
          <li>
            <% if user_signed_in? %>
              <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to 'Sign In', new_user_session_path %>
            <% end %>
          </li>
        </ul>
      </section>
    </nav>
</div>
